@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --body-bg-color: #e3f2fd;
    --card-bg-color: linear-gradient(315deg, #0d0d0d 0%, #262626 50%, #595959 100%);
    --logo-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
}
.card-contianer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}